*{
  background-color:#000000;
}
#contenedor {
    display: flex;
    justify-content: center;
    cursor:auto;
  }

h1{
    color:#00FFFF;
    font-size: 250%;
    text-align: center;
    margin-top: 150px;
    }

.img  {
width: 180px;
border-radius: 12%;
padding: 8px;
}
.item{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
.perfil{
  color:#00FFFF;
text-align:center;
  font-size: 250%;
}
h2{
  color:#00FFFF;
    font-size: 250%;
    text-align: center;
    }